body {
background-color: rgb(224, 210, 255);
background: url(automation.jpg) no-repeat 30%;
}

span {
    color: brown;
}

#header {
    background-color: rgb(239, 255, 177);
}

.h1 {
    font-size: 30px;
    color: rgb(255, 68, 0);
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.h1{
    color: blue;
}

p {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 239, 209);
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
}

img {
    width: 100%;
    height: 100%;
}